* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

#wallpaper {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}
/*dock*/
.navCon {
  display: flex;
  justify-content: center;
}
.dock {
  position: fixed;
  bottom: 20px;
  min-width: 512px;
  background-color: rgba(180, 180, 180, 0.452);
  border-radius: 15px;
  box-shadow: 0 0 2rem rgba(78, 78, 78, 0.363);
  display: flex;
  justify-content: center;
  padding-block: 12px;
}
.dockIconCon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 8px;
  border-radius: 15px;
  padding: 4px;
  margin-inline: 1px;
  transition: all ease .25s;
}
.dockIconCon:hover {
  background-color: rgba(219, 219, 219, 0.05);
  transform: scale(1.5);
  translate: 0 -12px;
  box-shadow: 0 0 1rem rgba(77, 77, 77, 0.37);
}
.dockIcon {
  height: 72px;
  cursor: pointer;
}

.menuBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.623);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuBar img {
  height: 1rem;
}

#textBar {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
}
#emptyBar {
  flex: 4;
}
#iconBar {
  flex: .8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
}
#notesApp {
  position: fixed;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  height: 60vh;
  display: grid;
  grid-template-columns: 12vw 1fr;
  border-radius: 12px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, .5);
  backdrop-filter: blur(12px);
}
header {
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  padding-inline: 4px;
  padding-block: 2rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
header div {
  height: 2rem;
  padding-block: .4rem;
  padding-inline: 2rem;
  border-radius: 4px;
}
header div:hover {
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 2px black;
}
main {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: rgba(0, 0, 0, 0.9);
}